<div class="h-screen w-screen overflow-hidden flex flex-col relative select-none font-sans ">
  <!-- Fondo de pantalla -->
  <img 
    src="assets/images/wallpaper.png" 
    alt="Wallpaper" 
    class="absolute inset-0 w-full h-full object-cover object-center pointer-events-none -z-10"
  />

  <!-- tono más oscuro para mejorar la legibilidad -->
  <div class="absolute inset-0 bg-black/20 pointer-events-none -z-10"></div>

  <!-- Barra superior estilo macOS -->
  <app-topbar></app-topbar>

  <!-- La clase desktop-canvas viene danda implicitamente por app-window-frame, permite arrastrar ventanas dentro del main, no fuera de éste -->
  <main class="desktop-canvas flex-1 w-full h-full relative overflow-hidden pt-7">
    <div class="absolute top-10 right-4 flex flex-col gap-4 z-0">
      <!-- Itero cada item del desktop -->
      @for (item of desktopItems; track item.id) {
        <app-desktop-icon
          [item]="item"
          (open)="handleOpen($event)"
        />
      }
    </div>

    <!-- Bucle for de todas las ventanas, trackeo si están abiertas -->
    @for (window of portfolioWindows; track window.id) {
      @if (windowService.isOpen(window.id)) {
        <app-window-frame [windowId]="window.id" [titleKey]="window.titleKey">
          @switch (window.content.type) {
            @case ('about') {
              <!-- Componente de texto -->
              <app-about></app-about>
            }
            @case ('folder') {
              <!-- Componente de visor de carpeta -->
              <app-folder-viewer
                [currentFolderName]="window.content.folderNameKey | translate"
                [items]="window.content.items"
                (itemActivated)="handleFolderItemActivated($event)"
              />
            }
            @case ('contact') {

              <!-- TODO: Implement contact component -->
              <div class="flex h-full flex-col justify-center gap-3 text-center text-slate-300">
                <h2 class="text-lg font-semibold text-slate-100">{{ 'CONTACT.TITLE' | translate }}</h2>
                <p>{{ 'CONTACT.SUBTITLE' | translate }}</p>
              </div>
            }
            @case ('text') {
            <app-text-viewer [textKey]="window.content.textKey" />
              }
          }
        </app-window-frame>
      }
    }
</main>

  <!-- Dock inferior con accesos rápidos -->
  <app-dock></app-dock>
</div>
